@tailwind base;
@tailwind components;
@tailwind utilities;

/* src: local("FRBCistercian") url("/FRBCistercian.otf") format("opentype"); */
@font-face {
  font-family: "FRBCistercian";
  src: local("FRBCistercian"), url("/FRBCistercian.otf") format("opentype");
  font-style: normal;
  font-weight: 400;
  font-display: block;
}

.font-cistercian {
  font-family: FRBCistercian;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
